doctype html
html
  head
    title= titleFinmart

    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript' src='js/jquery.min.js')
    
  body
    block content
script(type='text/javascript' src='js/script.js')
script(type='text/javascript' src='js/jquery.validate.min.js')
script(type='text/javascript' src='js/login.js')
